[submodule "modules/node"]
	path = modules/node
	url = https://github.com/augmentchinedu/node
[submodule "modules/schemas"]
	path = modules/schemas
	url = https://github.com/augmentchinedu/schemas
[submodule "modules/models"]
	path = modules/models
	url = https://github.com/augmentchinedu/models
